<p>weather works!</p>
<ul style="list-style-type: none;">
  <li>
    <a routerLink="./1" routerLinkActive="active-route">Page1</a>
  </li>
  <li>
    <a routerLink="./2" routerLinkActive="active-route">Page2</a>
  </li>
  <li>
    <a routerLink="./3" routerLinkActive="active-route">Page3</a>
  </li>
</ul>
<router-outlet></router-outlet>
