<p>sports works!</p>
<ul style="list-style-type: none;">
  <li>
    <a routerLink="./page1" routerLinkActive="active-route">Page1</a>
  </li>
  <li>
    <a routerLink="./page2" routerLinkActive="active-route">Page2</a>
  </li>
  <li>
    <a routerLink="./page3" routerLinkActive="active-route">Page3</a>
  </li>
</ul>
<router-outlet></router-outlet>
