<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FakeNews</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/news/science">Science</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/news/sports">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/news/weather">Weather</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container main-container">
  <div class="row main-row">
    <div class="col-3" style="background-color: lightgray;">
      <ul style="list-style-type: none;">
        <li>
          <a routerLink="/news/science" routerLinkActive="active-route">Science</a>
        </li>
        <li>
          <a routerLink="/news/sports" routerLinkActive="active-route">Sports</a>
        </li>
        <li>
          <a routerLink="/news/weather" routerLinkActive="active-route">Weather</a>
        </li>
      </ul>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
